body {
    margin: 0;
    background-color: #383A59;
}

h1 {
    font-size: 130px;
    margin: auto;
}

.main-game {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.genius {
    display: grid;
    grid-template-areas: 'verde vermelho'
    'amarelo azul';
    grid-gap: 40px;
    border: 65px solid black;
    background-color: black;
    border-radius: 100%;
    width: 700px;
    height: 700px;
}

.center {
    grid-area: azul;
    background-color: white;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 20%;
    border-top-right-radius: 20%;
    border-top-left-radius: 60%;
}
.blue {
    grid-area: azul;
    background-color: blue;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 20%;
    border-top-right-radius: 20%;
    border-top-left-radius: 60%; 
}

.red {
    grid-area: vermelho;
    background-color: red;
    border-top-right-radius: 100%;
    border-bottom-left-radius: 60%;
    border-bottom-right-radius: 20%;
    border-top-left-radius: 20%;
}

.yellow {
    grid-area: amarelo;
    background-color: yellow;
    border-bottom-left-radius: 100%;
    border-top-right-radius: 60%;
    border-bottom-right-radius: 20%;
    border-top-left-radius: 20%;
}

.green {
    grid-area: verde;
    background-color: green;
    border-top-left-radius: 100%;
    border-bottom-left-radius: 20%;
    border-top-right-radius: 20%;
    border-bottom-right-radius: 60%;
    
}

.selected {
    opacity: 0.2;
}